doctype html
html(lang="en")
    head
        title="Squaredatta Solution - We provide cost-effective IT solutions"
        script(src="js/homepage.min.js", defer)
        meta(name="viewport",content="width=device-width,initial-scale=1")
        link(rel="stylesheet",href="css/Squaredatta.min.css")
        meta(name="description",content="Let us automate your operations.")
        meta(name="keywords",content="ERP,HRMS,Salesforce,Software Services,Web Development,Mobile App Development,AWS Cloud Development")
        meta(name="author",content="Squaredatta Solution")
        meta(property="og:title",content="Squaredatta Solution - We provide cost-effective IT solutions")
        meta(property="og:url",content="http://www.squaredatta.com")
        meta(property="og:image",content="http://www.squaredatta.com/img/jason-wong-304700-min.jpg")
        meta(property="og:description",content="Let us automate your operations.")
    body.default-background
        .navbar-fixed
            a.brand-logo(href='#home') Squaredatta
            .social
                a(href="mailto:contact@squaredatta.com")
                    <svg version="1.1" id="Mail" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"	viewBox="0 0 20 20" style="enable-background:new 0 0 20 20;" xml:space="preserve"><path d="M1.574,5.286c0.488,0.262,7.248,3.894,7.5,4.029C9.326,9.45,9.652,9.514,9.98,9.514c0.328,0,0.654-0.064,0.906-0.199 s7.012-3.767,7.5-4.029C18.875,5.023,19.337,4,18.44,4H1.521C0.624,4,1.086,5.023,1.574,5.286z M18.613,7.489 c-0.555,0.289-7.387,3.849-7.727,4.027s-0.578,0.199-0.906,0.199s-0.566-0.021-0.906-0.199S1.941,7.777,1.386,7.488 C0.996,7.284,1,7.523,1,7.707S1,15,1,15c0,0.42,0.566,1,1,1h16c0.434,0,1-0.58,1-1c0,0,0-7.108,0-7.292S19.004,7.285,18.613,7.489z" fill="#59AE7F"/></svg>
                a(href="https://www.facebook.com/")
                    <svg version="1.1" id="Facebook" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve"> <path d="M17,1H3C1.9,1,1,1.9,1,3v14c0,1.101,0.9,2,2,2h7v-7H8V9.525h2V7.475c0-2.164,1.212-3.684,3.766-3.684l1.803,0.002v2.605 h-1.197C13.378,6.398,13,7.144,13,7.836v1.69h2.568L15,12h-2v7h4c1.1,0,2-0.899,2-2V3C19,1.9,18.1,1,17,1z" fill="#59AE7F"/> </svg>
                a(href="https://www.linkedin.com/")
                    <svg version="1.1" id="LinkedIn" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve"> <path d="M5,3c0,1.1-0.7,2-2,2C1.8,5,1,4.1,1,3.1C1,2,1.8,1,3,1S5,1.9,5,3z M1,19h4V6H1V19z M14.6,6.2c-2.1,0-3.3,1.2-3.8,2h-0.1 l-0.2-1.7H6.9C6.9,7.6,7,8.9,7,10.4V19h4v-7.1c0-0.4,0-0.7,0.1-1c0.3-0.7,0.8-1.6,1.9-1.6c1.4,0,2,1.2,2,2.8V19h4v-7.4 C19,7.9,17.1,6.2,14.6,6.2z" fill="#59AE7F"/> </svg>
                a(href="https://twitter.com/")
                    <svg version="1.1" id="Twitter" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve"> <path d="M17.316,6.246c0.008,0.162,0.011,0.326,0.011,0.488c0,4.99-3.797,10.742-10.74,10.742c-2.133,0-4.116-0.625-5.787-1.697 c0.296,0.035,0.596,0.053,0.9,0.053c1.77,0,3.397-0.604,4.688-1.615c-1.651-0.031-3.046-1.121-3.526-2.621 c0.23,0.043,0.467,0.066,0.71,0.066c0.345,0,0.679-0.045,0.995-0.131c-1.727-0.348-3.028-1.873-3.028-3.703c0-0.016,0-0.031,0-0.047 c0.509,0.283,1.092,0.453,1.71,0.473c-1.013-0.678-1.68-1.832-1.68-3.143c0-0.691,0.186-1.34,0.512-1.898 C3.942,5.498,6.725,7,9.862,7.158C9.798,6.881,9.765,6.594,9.765,6.297c0-2.084,1.689-3.773,3.774-3.773 c1.086,0,2.067,0.457,2.756,1.191c0.859-0.17,1.667-0.484,2.397-0.916c-0.282,0.881-0.881,1.621-1.66,2.088 c0.764-0.092,1.49-0.293,2.168-0.594C18.694,5.051,18.054,5.715,17.316,6.246z" fill="#59AE7F"/></svg>
            ul.menu
                li
                    a.aboutmelink(href='#products') Products
                    a.aboutmelink(href='#services') Services
                    a.aboutmelink(href='#about-us') About Us
        .homepage#home
            .heroimage
            .splitter1
                h1.herotext Let us perfect your business operations.
                a.scroll-indicator1(href="#products")
        section.details
            section#aboutus.feature-section
                .splitter2
                    p.footer-header SQUAREDATTA Technologies Pvt. Ltd.
                    p.footer-text SQUAREDATTA consists of highly experienced technocrats from the industry, having expertise in various domains and verticals. We are specialized in ERP (Oracle, Microsoft), Database Management, and any bespoke development using MS Technology, Java, Oracle.
                    p.footer-text SQUAREDATTA Technologies - Chennai India having an expertise in complete life cycle of ERP, starting from initiation to hand holding phase. The same applies to any bespoke development. Our prime focus and domain expertise are in any Manufacturing (Discrete or Process), Healthcare, Education, Banking and Non-Banking Financial Institution. We do have an excellent expertise Business Process Re-Engineering, System Requirement Study.
                    p.footer-text SQUAREDATTA has an excellent concept in healthcare market which will give a new dimension to Medical and Para – Medical team. It will help in quick diagnosis of patients in case of any emergency / trauma. Very soon SDTP will come up with the solution.
                    p.footer-text SQUAREDATTA believes in quality of delivery and optimum customer satisfaction, not on quantity of project. In Parallel focusing in the area of skill development for concern organization.
                    p.footer-text SQUAREDATTA holds a mature, dedicated, responsible, committed development, support and maintenance team. We have an excellent technology support partner from IT hub market of India.
                    p.footer-text SQUAREDATTA also have excellent trainer in the area of infrastructure, Project Management, Networking and so on.
            section#contact.feature-section
                .row
                    .col.span_2_of_2
                        h5.footer-header SQUAREDATTA TECHNOLOGIES PRIVATE LIMITED
                        p.footer-header No. 1/3, Thiruneermalai Road, Nagalkeni, Chrompet, Chennai, Tamilnadu, India - 600044
            section.copyright
                .row
                    .col.span_2_of_2    
                        p.copyright-text Copyright 2017 Squaredatta Solution, All Right Reserved